<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Add User</title>
</head>
<body>
	<h2>Add User</h2>
	<form action="../users/save" method="get">
		<table border="1">
			<tbody>
				<tr>
					<th>Name</th>
					<td><input type="text" name="name" required="required"
						autofocus="autofocus" /></td>
				</tr>
				<tr>
					<th>Email</th>
					<td><input type="email" name="email" required="required" />
					</td>
				</tr>
				<tr>
					<th>Password</th>
					<td><input type="password" name="password" required="required" />
					</td>
				</tr>
				<tr>
					<td>
						<button type="submit">Submit</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<a href="../users/list">List Users</a>
	<a href="../book/addbooks">Add books</a>
</body>
</html>