<!DOCTYPE html>
<html>
<head>
<style>
h2{
color: blue;
    text-align: center;
}
form{
margin-left: 35%;
margin-right:10%;
width: 70%;
align:center;
}
table{
   border: 3px solid black;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;}
  }

</style>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>
</head>
<body>
	<h2>Login</h2>
	<form action="../users/user_validate" method="post">
		<table border="1">
			<tbody>

				<tr>
					<th>email</th>
					<td><input type="email" name="email" required="required" /></td>
				</tr>
				<tr>
					<th>Password</th>
					<td><input type="password" name="password" required="required" />
					</td>
				</tr>
				<tr>
					<td>
						<button type="submit">Submit</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	
</body>
</html>