<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style type="text/css">
h1{
color: blue;
    text-align: center;}
    body{
    
     border: 3px solid black;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;}
    p{
    text-align: center;}
    table{
   border: 3px solid black;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;}
  }
    
    </style>
<title>Book Ordering Web Application</title>
</head>
<body>
	<h1 >Welcome</h1>
	<p>
	<a href="../book/bookview">Book list</a> <br/>
	<a href="users/login">Order Books</a>
	</p>
</body>
</html>